
*{
    /*border: .5px, solid, rgb(255, 145, 145);*/
}


.contener__nav{
    display: flex;
    justify-content: end;
    margin-right: 1%; /*cambiar a un 5 %*/
}


.contener__btn__theme{
    width: 80px;
    height: 20px;
    display: flex;
    justify-content: space-between;
}


.borde__btn__theme{
    width: 50px;
    display: flex;
    align-items: center;
    box-sizing: 1px;
    border-style: inset;
    border-color: rgb(202, 225, 239);
    background-color: rgb(239, 235, 235);
    border-radius: 9px;
}


#btnTheme{
    height: 15px;
    width: 15px;
    border-radius: 100%;
    border-style: outset;
    box-shadow: 0px 0px 3px .5px hwb(180 40% 70% / 0.2);
    position: relative;
    left: 0;
    cursor: pointer;
}

.borde__btn__theme:hover{
    cursor: pointer;
}

.color{
    background-color: hwb(200 5% 40%);
}